body{
     background-color: #f1f1f1;
    font-size: 22px;
    font-weight: normal;
    
}
.ava{

border-radius: 16px;
box-shadow: 10px 10px 14px rgba(0,0,0,0.5);
}


.social{
color: #86898f;
margin: 16px;
text-transform: capitalize

}

.hobby {
  display: flex;
    justify-content: space-around;
}

.hobby h5 {
  margin: 0;
}

.hobby img {
  max-width: 130px;
  max-height: 80px;
}

.name {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 1%;
    color: white;
    width: 40%;
}