body{
     background-color: #f1f1f1;
    font-size: 22px;
    font-weight: normal;
    
}
.ava{

border-radius: 16px;
box-shadow: 10px 10px 14px rgba(0,0,0,0.5);
}


.social{
color: #86898f;
margin: 16px;
text-transform: capi

}
